main{
  display: flex;
}

/* MENU DU COTÉ */
main>aside{
  margin: 1vh 0;
  padding: 1em;
  border-radius: 0 5px 5px 0;
  border-right: 0.2em solid #F9BA32;
  position: sticky;
  display: table;
}

main>aside>section{
  display: flex;
  align-items: center;
  color: white;
}

main>aside>section>p{
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

main>aside ion-icon{
  z-index: 0;
  transition: height 1s;
  margin-right: 0.5em;
}

main>aside>section:hover{
  cursor: pointer;
}

main>aside>ul>li{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 2em !important;
  padding: 0.2em;
  border-radius: 5px;
  transition: color 0.2s;
  color: #D3D3D3;
}

main>aside>ul>li>a{
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  flex: 1;
  /* transition: color 0.2s, margin 1s; */
}

main>main>aside>ul>li:hover{
  color: white !important;
}


/* CONTENU DES PAGES */
main>section{
  flex: 1;
  padding: 1em;
}

main>section>section{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

main>section>section>h1{
  text-align: center;
  font-size: 2em;
  color: #426E86;
  flex: 1;
}


main>section>ul>li{
  display: flex;
  align-items: center;
  border: 1px solid #e3e6f0;
  border-radius: 5px;
  padding-left: 1em;
  margin-bottom: 1em;
  transition: box-shadow 0.2s;
}

main>section>ul>li:hover{
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

main>section>ul>li>ion-icon{
  margin-right: 1em;
}

main>section>ul>li>section>p{
  height: 1.2em;
  overflow: hidden;
  max-width: 80%;
}

main>section>ul>li>section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

main>section>ul>li>section>h3{
  flex-basis: 20%;
}

/* Cette fois-ci, ces règles ne concernent que les 2 premières sections de gestion (pour leur listes)  */
main>section>ul>li>section>p:nth-child(2n+1){
  flex-basis: 100%;
}
