/* GENERAL */
html{
  height: 100%;
  scroll-behavior: smooth;
}

ion-icon{
  padding: 0.1em;
}

body{
  margin: 0;
  font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

a{
  text-decoration: none;
  color: white;
}

header h1, header h2, header h3, header h4, header h5, header h6, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, header li>a{
  text-align: center;
}

h1, h2, h3, h4, h5, header li>a{
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

div[couleur=button]{
  width: min-content;
  color: grey;
  border-radius: 5px;
  border: 2px solid #e9e9e9;
  margin: 0 2rem;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  cursor: pointer;
}

div[couleur=button]:hover{
  background-color: #e3e6f0;
}

div[couleur=button-disabled]{
  cursor: pointer;
  background-color: #d0d4d5;
  color: grey;
  border-radius: 5px;
  border: 2px solid #e9e9e9;
  margin: 0 2rem;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

div[couleur=validation]{
  color: white;
  background-color: #1aaa55;
  border-radius: 5px;
  border: 2px solid #e9e9e9;
  margin: 0 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  cursor: pointer;
}

div[couleur=validation]:hover{
  background-color: #168f48;
}

div[couleur=supression]{
  background-color: #db3b21;
  color: white;
  border-radius: 5px;
  border: 2px solid #e9e9e9;
  margin: 0 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  cursor: pointer;
}

div[couleur=supression]:hover{
  background-color: #b51e04;
}

input, textarea{
  border-radius: 5px;
}

input[type=search][disabled]{
  background-color: lightgrey;
}

button, input[type=submit]{
  color: white;
  border-radius: 5px;
  border: 2px solid #e9e9e9;
  margin: 0 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

select{
  border-radius: 5px;
  background-color: white;
}

button:hover{
  cursor: pointer;
}

button[disabled]{
  color: grey !important;
  background-color: #d0d4d5 !important;
}

button[couleur=validation]{
  background-color: #1aaa55;
}

button[couleur=validation]:hover{
  background-color: #168f48;
}

button[couleur=supression]{
  background-color: #db3b21;
}

button[couleur=supression]:hover{
  background-color: #b51e04;
}

button[couleur=attention]{
  background-color: #f07d00;
}

button[couleur=attention]:hover{
  background-color: #d36e00;
}

button:not([couleur=validation]):not([couleur=supression]):not([couleur=attention]){
  color: grey;
  background-color: transparent;
}

button:not([couleur=validation]):not([couleur=supression]):not([couleur=attention])[selected]{
  background-color: lightgrey;
}

button:not([couleur=validation]):not([couleur=supression]):not([couleur=attention]):hover, button[checked]:not([couleur=validation]):not([couleur=supression]):not([couleur=supression]):not([couleur=attention]){
  background-color: #e3e6f0;
}

input[type=file]{
  display: none;
}

/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-top: 0.2em solid #F9BA32;
  position: fixed;
  width: 100%;
  top: 0;
  height: 5em;
  transition: height 0.4s;
  z-index: 1;
}

header>section>img{
  min-height: 3em;
  height: 3em;
  margin-right: 3em;
}

header>section>img:hover{
  cursor: pointer;
}

header>section{
  margin-left: 8vw;
  display: flex;
  align-items: center;
}

header>ul{
  display: flex;
  margin-right: 20vw;
}

header>ul>li>a{
  display: flex;
  align-items: center;
}

header>section>h3{
  font-size: 1.5em;
  transition: font-size 0.4s;
}

header li{
  padding: 0.5em;
  border-radius: 10px;
  margin-left: 1em;
}

header a{
  transition: color 0.2s;
}

header li:hover a{
  color: #F9BA32;
}

/* FOOTER */
footer{
  color: white;
  font-size: 0.9rem;
  padding-top: 1em;
  border-top: 0.2em solid #F9BA32;
}

footer>section{
  display: flex;
  justify-content: space-evenly;
}

footer>section>section>p{
  text-align: center;
  margin-bottom: 0;
}

footer>section>section>ul{
  display: flex;
  margin-top: 0.2em;
  flex-wrap: wrap;
  line-height: 1.5em;
}

footer>section>section:first-child>ul>ul:nth-child(2){
  text-align: right;
}

footer>section>section:first-child>ul>li, footer>section>section:nth-child(3)>ul>li{
  flex-basis: 100%;
}

footer>section>section>ul>ul:first-child{
  margin-right: 2em;
}

footer>h6{
  flex-basis: 100%;
  background-color: #2F3131;
  text-align: center;
  margin: 0;
  margin-top: 1em;
  padding: 1em 0;
}

footer>section>section:nth-child(2)>ul{
  display: flex;
}

footer>section>section:nth-child(2)>ul>li{
  margin: 0.5em;
}

footer>section>section:nth-child(2) img{
  height: 4em;
}

@media screen and (max-width: 830px){
  footer>section{
    display: inherit;
  }

  footer>section>section>ul{
    justify-content: center;
  }

  footer>section>section:first-child>ul>ul{
    display: flex;
  }

  footer>section>section:first-child>ul>ul>li{
    margin: 0 1em;
    text-align: center;
  }

  footer>section>section:nth-child(3)>ul>li{
    flex-basis: inherit;
    flex: 1;
    text-align: center;
  }

  footer>section>section:nth-child(2)>ul>li{
    flex: 1;
    text-align: center;
  }

  footer>section>section:nth-child(2)>ul, footer>section>section:nth-child(3)>ul{
    padding: 0 20vw;
  }
}

@media screen and (max-width: 490px){
  footer>section>section:nth-child(2)>ul, footer>section>section:nth-child(3)>ul{
    padding: 0 10vw;
  }
}
