#nomEscape{text-decoration-style: none;
color: black;}

#escapeg {
  margin-bottom:3em
}

textarea{
  margin-top:3em;
  resize:none
}

.sele{
  padding-top:0.7em;
  padding-bottom:0.7em;
}

#bas {float:left;
width:40%;}

#gauche {
    float:left;
    width:40%;
}
#droite {
    margin-left:40%
}
#droite-disapru {
    margin-left:40%
}

#faux{
  float: right;
}

#pourcentage{
  text-align: center;
  vertical-align: middle;
  font-size: 4em; /* Paragraphes de 14 pixels */
}

pie {
    width: 14em;
    height: 14em;
    display: block;
    border-radius: 50%;
    margin: 1em;
}

.zero {
    background-image:
      linear-gradient(90deg, transparent 50%, white 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
    background-color: red;
    border: 2px solid red;
}

.five {
    background-image:
      linear-gradient(108deg, transparent 50%, white 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
    background-color: red;
    border: 2px solid red;
}

.ten {
    background-image:
      linear-gradient(126deg, transparent 50%, white 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
    background-color: red;
    border: 2px solid red;
}

.fifteen {
    background-image:
      linear-gradient(144deg, transparent 50%, white 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
    background-color: red;
    border: 2px solid red;
}

.twenty {
    background-image:
        linear-gradient(162deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: orange;
    border: 2px solid orange;
}

.twentyfive {
    background-image:
        linear-gradient(180deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: orange;
    border: 2px solid orange;
}

.thirty {
    background-image:
        linear-gradient(198deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: orange;
    border: 2px solid orange;
}

.thirtyfive {
    background-image:
        linear-gradient(216deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: orange;
    border: 2px solid orange;
}

.fourty {
    background-image:
        linear-gradient(234deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: yellow;
    border: 2px solid yellow;
}

.fourtyfive {
    background-image:
        linear-gradient(252deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: yellow;
    border: 2px solid yellow;
}

/* Slices greater than 50% require first gradient
   to be transparent -> green */

.fifty {
    background-image:
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: yellow;
    border: 2px solid yellow;
}

.fiftyfive {
    background-image:
        linear-gradient(108deg, transparent 50%, yellow 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: yellow;
    border: 2px solid yellow;
}

.sixty {
    background-image:
        linear-gradient(126deg, transparent 50%, green 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: green;
    border: 2px solid green;
}

.sixtyfive {
    background-image:
        linear-gradient(144deg, transparent 50%, green 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: green;
    border: 2px solid green;
}

.seventy {
    background-image:
        linear-gradient(162deg, transparent 50%, green 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: green;
    border: 2px solid green;
}

.seventyfive {
    background-image:
        linear-gradient(180deg, transparent 50%, green 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: green;
    border: 2px solid green;
}

.eighty {
    background-image:
        linear-gradient(198deg, transparent 50%, lightgreen 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: lightgreen;
    border: 2px solid lightgreen;
}

.eightyfive {
    background-image:
        linear-gradient(216deg, transparent 50%, lightgreen 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: lightgreen;
    border: 2px solid lightgreen;
}

.ninety {
    background-image:
        linear-gradient(234deg, transparent 50%, lightgreen 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: lightgreen;
    border: 2px solid lightgreen;
}

.ninetyfive {
    background-image:
        linear-gradient(252deg, transparent 50%, lightgreen 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    background-color: lightgreen;
    border: 2px solid lightgreen;
}

.onehundred {
    background-image: none;
    background-color: lightgreen;
    border: 2px solid lightgreen;
}

select{
  padding-left: 
  max-width:30em;
}

@import "compass/css3";

// Body Styles
body {
  font-family: "Helvetica Neue", arial, sans-serif;
  padding: 2em;
}

h1 {
  font-size: 2em;
  font-weight: 800;
}

h3 { font-size: 2em; }

.skill-1 {
  margin-bottom: 1em;
  margin-top: 1em;
  position: relative;
  width: 0px;
  background-color: #fd0e23;
  background-size: auto;
  height: 20px;
  width: 100%;
}

#titre3 {
  color: #fff;
  left: 1em;
  line-height: 1;
  position: absolute;
  top: 1em;
}

// Style the bar colors
.skill-1::-webkit-progress-value {
  background: #39FF33;
}

.skill-1::-moz-progress-bar {background: #39FF33;}

/*

*/

.search {
  display: flex;
  flex-wrap: nowrap;
}

.search > div#group {
  margin-left: 2em;
}