{% extends 'header-footer.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/accueil-etudiant.css') }}">
  <title>Accueil</title>
{% endblock %}

{% block header_liens %}
  <li><a href="{{ url_for('gestion_profil_etudiant') }}"><ion-icon name="person" size="small"></ion-icon>Profil</a></li>
  <li><a href="/deconnexion"><ion-icon name="log-out" size="small"></ion-icon>Déconnexion</a></li>
{% endblock %}

{% block header_titre %}
  <h3 id="header-titre">Liste des escape games</h3>
{% endblock %}

{% block main %}
{% if current_user.est_prof == True %}
    <script type="text/javascript">
      document.location.href="404.html";
    </script>
  {% else %}
  <h1>Bonjour {{ current_user.prenom }}</h1>
  <section>
    <h2>Vos escapes games en cours</h2>
    {% if listeEscape[0]|length == 0 %}
      <h5>Aucun escape game ne vous est attribué pour le moment</h5>
    {% else %}
      <ul>
        {% for groupe in listeEscape %}
          {% for escape in groupe %}
            <li onclick="document.getElementById('formulaireEscape{{ escape.id }}').submit();">
              <form id="formulaireEscape{{ escape.id }}" action="jouer" method="POST" lang="fr">
                <h3>{{escape.modele_escape.nom}}</h3>
                <p>Accessible jusqu'au {{ escape.date_fin| affichageDateTextuel }}</p>
                <p>{{ escape.modele_escape.desc }}</p>
                <input type="hidden" value="{{ escape.id }}" name="numEscape" />
              </form>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}
  </section>
  <section>
    <h2>Vos Escapes Games Finis</h2>
    {% if listeEscapeFini != [[]] %}
      <ul>
        {% for groupe in listeEscapeFini %}
          {% for escape in groupe %}
            <li>
              <form>
                <h3>{{escape.modele_escape.nom}}</h3>
                <p>Accessible jusqu'au {{ escape.date_fin| affichageDateTextuel }}</p>
                <p>{{ escape.modele_escape.desc }}</p>
              </form>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% else %}
      <h5>Vous n'avez finit aucun escape game pour le moment</h5>
    {% endif %}
  </section>
{% endif %}
{% endblock %}