{% extends 'accueil-prof.html' %}

{% block head_suplementaire %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/gestion-profil.css') }}">
{% endblock %}

{% block title %}
  <title>Gestion Profil</title>
{% endblock %}

{% block contenu_onglet %}
  <section>
    <h1>Profil</h1>
    <button onClick="document.getElementById('formulaire_profil').submit();" couleur="validation"><ion-icon name='save' size='small'></ion-icon>Sauvegarder</button>
  </section>

  <div>
    <form id="formulaire_profil" action="" method="POST">
      <label for="fichier">
        {% if personne.image %}
          <img src="{{ personne.image.image }}" id="avatar_img"/>
        {% else %}
          <img src="{{ url_for('static', filename='images/user.png') }}" alt="image de profil" id="avatar_img" />
        {% endif %}
        <input type="file" id="fichier" accept="image/png, image/jpeg">
        <input type="hidden" name="_avatar" id="_avatar">
      </label>
      <div>
        <label>Prénom<input name="prenom" type="text" placeholder="Prénom" value="{{ personne.prenom }}"/></label>
        <label>Nom<input name="nom" type="text" placeholder="Nom" value="{{ personne.nom }}"/></label>
        <label>Email<input name="mail" type="mail" placeholder="Adresse email" value="{{ personne.email }}"/></label>
        <label>Numéro<input type="text" placeholder="Numéro étudiant" value="{{ personne.id }}" disabled/></label>
      </div>
    </form>

    <section>
      <h2>Appliquer un thème</h2>
      <ul>
        <button onClick="attribuerTheme(this);" value="bleu" style="background-color: #426e86; color: white !important;"><ion-icon name='color-palette' size='small'></ion-icon>Bleu (par defaut)</button>
        <button onClick="attribuerTheme(this);" value="blanc" style="background-color: #e3e3e3; color: black !important;"><ion-icon name='color-palette' size='small'></ion-icon>Blanc</button>
        <button onClick="attribuerTheme(this);" value="noir" style="background-color: #3d3b3b; color: white !important;"><ion-icon name='color-palette' size='small'></ion-icon>Noir</button>
        <button onClick="attribuerTheme(this);" value="rouge" style="background-color: #9d4040; color: white !important;"><ion-icon name='color-palette' size='small'></ion-icon>Rouge</button>
        <button onClick="attribuerTheme(this);" value="vert" style="background-color:  #11813d ; color: white !important;"><ion-icon name='color-palette' size='small'></ion-icon>Vert</button>
      </ul>
    </section>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/profil.js') }}"></script>
{% endblock %}
