{% extends 'accueil-prof.html' %}

{% block head_suplementaire %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/statistiques.css') }}">
{% endblock %}

{% block title %}
  <title>Statistiques</title>
  <script>

    function visibilite(thingId)
    {
      var targetElement;
      targetElement = document.getElementById(thingId) ;
      if (targetElement.style.display == "none"){
        targetElement.style.display = "" ;
      }
    }

    function afficheStatistiques(thingId)
    {
      var esc = document.getElementById('escapeg').value;
      var select = document.getElementById('select').value;
      //nbPoints = recup le nb de points max du groupe;
      visibilite(thingId);
    }


  </script>
{% endblock %}

{% block contenu_onglet %}
<div id=gauche>
  <h2>
    Escape game
  </h2>
  <select id= "escapeg" class="sele" name="nom" size="4">
	{% for escape in escapes %}
        	<option onClick="location.href='/statistiques/{{ escape.id }}';">{{ escape.nom }}</option>
	{% endfor %}
    </select>

  <h2>
    Groupe
  </h2>
  <form>
    <select id= "select" class="sele" name="nom" size="4">
        {% for groupe in groupes %}
        	<option onClick="location.href='/statistiques/{{ esc.id }}/{{ groupe.id }}';">{{ groupe.nom }}</option>
	{% endfor %}
    </select>
  </form>
</div>

<div id="droite-disparu">
  <div id="haut">
    <div id = "gauche">
      <h1>Progression escape game</h1>
      {% if pourcentage <=2 %}
        <pie class="zero"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 3) and (pourcentage <= 7) %}
        <pie class="five"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 8) and (pourcentage <= 12) %}
        <pie class="ten"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 13) and (pourcentage <= 17) %}
        <pie class="fifteen"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 18) and (pourcentage <= 22) %}
        <pie class="twenty"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 23) and (pourcentage <= 27) %}
        <pie class="twentyfive"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 28) and (pourcentage <= 32) %}
        <pie class="thirty"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 33) and (pourcentage <= 37) %}
        <pie class="thirtyfive"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 38) and (pourcentage <= 42) %}
        <pie class="fourty"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 43) and (pourcentage <= 47) %}
        <pie class="fourtyfive"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 48) and (pourcentage <= 52) %}
        <pie class="fifty"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 53) and (pourcentage <= 57) %}
        <pie class="fiftyfive"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 58) and (pourcentage <= 62) %}
        <pie class="sixty"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 63) and (pourcentage <= 67) %}
        <pie class="sixtyfive"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 68) and (pourcentage <= 72) %}
        <pie class="seventy"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 73) and (pourcentage <= 77) %}
        <pie class="seventyfive"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 78) and (pourcentage <= 82) %}
        <pie class="eighty"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 83) and (pourcentage <= 87) %}
        <pie class="eightyfive"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 88) and (pourcentage <= 92) %}
        <pie class="ninety"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% elif (pourcentage >= 93) and (pourcentage <= 97) %}
        <pie class="ninetyfive"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% else %}
        <pie class="onehundred"><p id="pourcentage">{{ pourcentage }} %</p></pie>
      {% endif %}
    </div>

    <div id="droite">
      <h1>
        <a id="nomEscape" href="">{{ esc.nom }}</a>
      </h1>
      <h4>
        Date debut : {{ escInstDateDebut }}<br />Date Fin : {{ escInstDateFin }}
      </h4>
    </div>
  </div>

  <div id = "bas">
    <h1>Réponses</h1>
    <div class="skill">
    	<progress class="skill-1" max="100" value="{{ valeur }}">
    	</progress>
    </div>
    {% if nbPoints < 2 %}
      <h3 id = "gauche">{{ nbPoints }} point sur {{ nbPointsMax }}</h3>
    {% else %}
      <h3 id = "gauche">{{ nbPoints }} points sur {{ nbPointsMax }}</h3>
    {% endif %}
  </div>
</div>
{% endblock %}
